<div class="row">
  <div id="header" class="well span8 offset2">
    <p>The top five stories from CNN.com's 'The Latest' section, updated frequently.</p>
    <p id="updated-time">Last story changed <%=time_ago_in_words(@stories[0].updated_at) %> ago.</p>
  </div>
</div>
<% @stories.each do |story| %>
  <div class='row'>
    <div class='story well span6 offset3'>
      <strong>
        <%= link_to story.headline, story.url %>
      </strong>
      <%= story.summary %>
    </div>
  </div>
<% end %>
